<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 This is not the dog you are looking for, probably... 
      <span role="img" aria-label="Laughing dog"><img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2018/09/10222609/shiba-inu-funny-close-up-portrait.jpg"></span>

    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
