<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DOGGIE DATE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" onclick="signOut();">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <br>
        <li>Add your dog(s) so that other dog people can see!</li>
        <br>
        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">Add
                your dog here!</button></li>
    </ul>
    <ul class="nav nav-sidebar">
        <br>
        <br>
        <br>
        <br>
    </ul>
    <ul class="nav nav-sidebar">
        <br>
        <br>
        <br>
        <br>
    </ul>
</div>
<div class="container-fluid sb-text main-text">
    <h1>Main Area</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Auctor elit sed vulputate mi sit. Leo integer malesuada nunc vel risus commodo
        viverra maecenas accumsan. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Est
        ullamcorper eget nulla facilisi. Quisque id diam vel quam elementum. Odio ut sem nulla pharetra diam sit
        amet nisl suscipit. Quis risus sed vulputate odio ut enim blandit volutpat. Amet est placerat in egestas
        erat imperdiet sed euismod. Massa placerat duis ultricies lacus sed turpis tincidunt. Dictumst quisque
        sagittis purus sit amet volutpat consequat mauris nunc.

        Id nibh tortor id aliquet. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Lectus
        vestibulum mattis ullamcorper velit sed. Dui sapien eget mi proin. Nibh sed pulvinar proin gravida
        hendrerit lectus a. Vel turpis nunc eget lorem dolor sed viverra ipsum. Sit amet tellus cras adipiscing
        enim. Dolor sit amet consectetur adipiscing elit pellentesque habitant. Proin sed libero enim sed
        faucibus. Leo vel fringilla est ullamcorper eget nulla facilisi. Dictum non consectetur a erat nam at
        lectus urna. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Arcu non sodales
        neque sodales ut. Tellus in hac habitasse platea dictumst vestibulum rhoncus. In est ante in nibh mauris
        cursus mattis. Pellentesque dignissim enim sit amet venenatis. Non nisi est sit amet. Sed viverra tellus
        in hac habitasse platea dictumst vestibulum. Ornare arcu odio ut sem.

        Auctor elit sed vulputate mi. At tellus at urna condimentum mattis. At urna condimentum mattis
        pellentesque id. Scelerisque purus semper eget duis at tellus. Risus feugiat in ante metus dictum at
        tempor commodo. Aliquam vestibulum morbi blandit cursus risus. Ultricies lacus sed turpis tincidunt id
        aliquet risus. A cras semper auctor neque vitae. At in tellus integer feugiat scelerisque varius. Risus
        ultricies tristique nulla aliquet enim tortor at.

        Ut morbi tincidunt augue interdum velit euismod. Pharetra sit amet aliquam id diam. Turpis in eu mi
        bibendum neque egestas congue. Nec ultrices dui sapien eget mi proin sed libero enim. Morbi tincidunt
        ornare massa eget egestas. Tortor at auctor urna nunc. Massa tincidunt nunc pulvinar sapien et. Sit amet
        justo donec enim diam vulputate ut pharetra. Fames ac turpis egestas maecenas pharetra convallis
        posuere. Justo nec ultrices dui sapien eget mi. Dolor morbi non arcu risus. Nisi scelerisque eu ultrices
        vitae auctor. Aliquam nulla facilisi cras fermentum odio. Sit amet massa vitae tortor condimentum. Massa
        tempor nec feugiat nisl pretium fusce id. Sit amet justo donec enim diam vulputate ut pharetra sit. Eu
        feugiat pretium nibh ipsum consequat. Rutrum tellus pellentesque eu tincidunt tortor. Elementum integer
        enim neque volutpat.

        Tristique sollicitudin nibh sit amet. Non diam phasellus vestibulum lorem sed risus ultricies. Semper
        viverra nam libero justo laoreet sit amet. Sed odio morbi quis commodo odio aenean. Congue nisi vitae
        suscipit tellus mauris a diam. Tellus molestie nunc non blandit massa enim. Tellus elementum sagittis
        vitae et leo duis ut. Aliquet nibh praesent tristique magna sit amet purus gravida. Dolor sit amet
        consectetur adipiscing elit ut aliquam purus sit. Ac tortor dignissim convallis aenean et tortor at
        risus viverra. Sit amet risus nullam eget felis. Egestas quis ipsum suspendisse ultrices gravida dictum
        fusce ut.

        Gravida arcu ac tortor dignissim convallis aenean et tortor at. Ac felis donec et odio. Sed lectus
        vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Ridiculus mus mauris vitae
        ultricies. Purus sit amet luctus venenatis lectus magna fringilla urna. Tincidunt vitae semper quis
        lectus nulla at. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Lectus magna fringilla
        urna porttitor rhoncus. Imperdiet nulla malesuada pellentesque elit eget gravida. Magna eget est lorem
        ipsum dolor sit. Et ultrices neque ornare aenean. Consequat semper viverra nam libero justo laoreet sit
        amet cursus. Proin fermentum leo vel orci porta non pulvinar. Risus ultricies tristique nulla aliquet
        enim. Eget nunc scelerisque viverra mauris in. Non arcu risus quis varius quam. Sit amet volutpat
        consequat mauris nunc. Id aliquet risus feugiat in. Pretium lectus quam id leo in vitae turpis massa.

        Pretium nibh ipsum consequat nisl vel pretium lectus quam. Mauris cursus mattis molestie a iaculis at
        erat pellentesque adipiscing. Molestie at elementum eu facilisis. Mattis ullamcorper velit sed
        ullamcorper morbi. Pulvinar pellentesque habitant morbi tristique senectus et netus et. Est sit amet
        facilisis magna etiam tempor. Nam libero justo laoreet sit amet cursus sit amet dictum. Posuere ac ut
        consequat semper viverra nam libero. Vestibulum lectus mauris ultrices eros in cursus turpis massa
        tincidunt. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Ipsum faucibus vitae aliquet
        nec ullamcorper. Vestibulum rhoncus est pellentesque elit ullamcorper. Enim sed faucibus turpis in eu
        mi.

        Pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Augue lacus viverra vitae congue.
        Nulla porttitor massa id neque aliquam vestibulum. Ut eu sem integer vitae justo eget magna fermentum.
        Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Interdum posuere lorem ipsum
        dolor. Viverra justo nec ultrices dui sapien eget. Tincidunt arcu non sodales neque sodales ut etiam. Ac
        turpis egestas integer eget aliquet nibh. Libero volutpat sed cras ornare arcu dui vivamus arcu. Augue
        lacus viverra vitae congue eu consequat ac felis donec. Fermentum leo vel orci porta. Adipiscing diam
        donec adipiscing tristique risus nec. Amet est placerat in egestas erat imperdiet. Montes nascetur
        ridiculus mus mauris vitae ultricies leo.

        Mauris augue neque gravida in fermentum et. Duis at consectetur lorem donec. Venenatis a condimentum
        vitae sapien pellentesque habitant. Odio aenean sed adipiscing diam donec adipiscing tristique risus
        nec. Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Porttitor rhoncus dolor purus non.
        Imperdiet dui accumsan sit amet nulla facilisi morbi. Consectetur lorem donec massa sapien faucibus et
        molestie ac feugiat. Egestas dui id ornare arcu odio ut sem. Nunc sed blandit libero volutpat sed cras.
        Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Diam vel quam elementum pulvinar
        etiam non. Ultrices dui sapien eget mi proin sed libero enim. Tortor id aliquet lectus proin nibh. Erat
        imperdiet sed euismod nisi porta. Augue ut lectus arcu bibendum at varius vel pharetra. In vitae turpis
        massa sed elementum tempus egestas sed sed. Tortor condimentum lacinia quis vel eros donec ac odio
        tempor. Euismod elementum nisi quis eleifend quam.

        Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Tincidunt eget nullam non nisi
        est. Nisl pretium fusce id velit. Ultricies mi eget mauris pharetra. Id porta nibh venenatis cras sed
        felis. Ultricies mi eget mauris pharetra et. Consequat semper viverra nam libero. Tempor orci dapibus
        ultrices in iaculis nunc sed. Nec dui nunc mattis enim ut. Venenatis tellus in metus vulputate eu.

        Purus faucibus ornare suspendisse sed nisi. Sed odio morbi quis commodo. Interdum varius sit amet mattis
        vulputate enim nulla aliquet porttitor. Tempor orci eu lobortis elementum nibh tellus molestie. Integer
        vitae justo eget magna fermentum iaculis eu non. Sagittis orci a scelerisque purus semper eget duis at
        tellus. Ac turpis egestas maecenas pharetra convallis posuere. Pharetra et ultrices neque ornare aenean
        euismod elementum nisi. Varius vel pharetra vel turpis nunc eget. In hendrerit gravida rutrum quisque
        non tellus orci ac auctor. Pellentesque nec nam aliquam sem et tortor consequat. Ornare quam viverra
        orci sagittis eu volutpat odio facilisis. Nunc consequat interdum varius sit. Consequat semper viverra
        nam libero justo laoreet sit amet. Bibendum est ultricies integer quis auctor.

        Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Sit amet risus nullam eget felis
        eget. Id ornare arcu odio ut sem nulla pharetra diam. Vulputate enim nulla aliquet porttitor. Amet
        venenatis urna cursus eget nunc scelerisque viverra mauris. Eu nisl nunc mi ipsum faucibus vitae aliquet
        nec ullamcorper. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Aliquam vestibulum
        morbi blandit cursus risus at ultrices mi. Semper risus in hendrerit gravida rutrum quisque non tellus.
        In nibh mauris cursus mattis molestie a iaculis at erat.

        Egestas erat imperdiet sed euismod nisi porta. Netus et malesuada fames ac turpis egestas. Sagittis
        aliquam malesuada bibendum arcu vitae elementum. Duis ut diam quam nulla porttitor massa id neque.
        Accumsan lacus vel facilisis volutpat est velit egestas. Vulputate odio ut enim blandit. Nam at lectus
        urna duis convallis. Ipsum dolor sit amet consectetur adipiscing. Erat nam at lectus urna. Faucibus
        scelerisque eleifend donec pretium vulputate sapien. Tristique nulla aliquet enim tortor at auctor urna
        nunc id. Gravida cum sociis natoque penatibus et magnis dis parturient. Ultrices in iaculis nunc sed.
        Aenean euismod elementum nisi quis eleifend. Odio morbi quis commodo odio aenean sed. Id venenatis a
        condimentum vitae sapien pellentesque habitant morbi.

        Elementum integer enim neque volutpat ac tincidunt vitae semper. Pretium vulputate sapien nec sagittis
        aliquam malesuada. In iaculis nunc sed augue. Neque sodales ut etiam sit amet nisl purus in. Enim
        praesent elementum facilisis leo. Netus et malesuada fames ac turpis egestas. Tristique senectus et
        netus et malesuada. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Sed
        vulputate odio ut enim. Sapien et ligula ullamcorper malesuada proin libero. Potenti nullam ac tortor
        vitae purus faucibus. Ut tellus elementum sagittis vitae et leo duis ut diam.

        Porttitor leo a diam sollicitudin tempor id eu nisl. Nulla facilisi morbi tempus iaculis. Senectus et
        netus et malesuada fames ac turpis egestas. Faucibus pulvinar elementum integer enim neque volutpat ac
        tincidunt vitae. Porttitor lacus luctus accumsan tortor posuere ac ut. Tortor at auctor urna nunc.
        Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Viverra nibh cras
        pulvinar mattis nunc sed. Quis vel eros donec ac odio. Sed nisi lacus sed viverra tellus. Massa
        tincidunt nunc pulvinar sapien et. In dictum non consectetur a erat nam. Vestibulum lectus mauris
        ultrices eros in cursus turpis massa. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada.
        Nibh mauris cursus mattis molestie a iaculis at erat. Urna duis convallis convallis tellus id interdum.
        Tincidunt vitae semper quis lectus nulla. Urna cursus eget nunc scelerisque viverra mauris in aliquam
        sem. Egestas tellus rutrum tellus pellentesque eu tincidunt.

        Elit ut aliquam purus sit amet. Venenatis a condimentum vitae sapien. Nunc congue nisi vitae suscipit
        tellus. A lacus vestibulum sed arcu. Etiam erat velit scelerisque in dictum non. Massa massa ultricies
        mi quis hendrerit dolor magna eget est. Leo duis ut diam quam nulla. Lacus vestibulum sed arcu non. Odio
        facilisis mauris sit amet. Blandit cursus risus at ultrices mi. Nunc aliquet bibendum enim facilisis.
        Eget nunc lobortis mattis aliquam faucibus purus in. Eu volutpat odio facilisis mauris sit amet massa
        vitae tortor. Vivamus at augue eget arcu dictum varius duis. Nulla pellentesque dignissim enim sit amet
        venenatis urna cursus.

        Pellentesque adipiscing commodo elit at imperdiet. Id velit ut tortor pretium viverra. Suspendisse sed
        nisi lacus sed viverra. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Tortor
        condimentum lacinia quis vel eros donec. Non tellus orci ac auctor augue mauris augue neque. Nec
        ultrices dui sapien eget mi proin sed libero enim. Nunc mattis enim ut tellus elementum sagittis vitae.
        Elit scelerisque mauris pellentesque pulvinar. Velit ut tortor pretium viverra. Pellentesque id nibh
        tortor id aliquet lectus proin nibh nisl. Quam quisque id diam vel quam elementum pulvinar etiam.

        Pellentesque diam volutpat commodo sed egestas. Vulputate enim nulla aliquet porttitor lacus. Risus
        ultricies tristique nulla aliquet enim tortor at. Vulputate eu scelerisque felis imperdiet proin. Sit
        amet volutpat consequat mauris nunc congue nisi. Scelerisque viverra mauris in aliquam sem fringilla. A
        cras semper auctor neque vitae. Commodo nulla facilisi nullam vehicula. Nunc faucibus a pellentesque sit
        amet porttitor. Nec ullamcorper sit amet risus nullam eget felis. Dolor sed viverra ipsum nunc aliquet
        bibendum enim facilisis. Sit amet dictum sit amet. Sed felis eget velit aliquet sagittis id consectetur
        purus. Sed adipiscing diam donec adipiscing. Viverra justo nec ultrices dui sapien eget. Enim sit amet
        venenatis urna cursus eget nunc scelerisque. Egestas congue quisque egestas diam.

        Nibh venenatis cras sed felis eget velit aliquet sagittis. Ante in nibh mauris cursus. Nisl nunc mi
        ipsum faucibus vitae aliquet nec ullamcorper. Augue neque gravida in fermentum. Ultricies tristique
        nulla aliquet enim tortor at auctor. Suscipit tellus mauris a diam maecenas sed enim ut. Enim tortor at
        auctor urna nunc id cursus. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Nulla
        posuere sollicitudin aliquam ultrices sagittis orci a. Ipsum dolor sit amet consectetur.

        Porta lorem mollis aliquam ut porttitor leo a diam. Euismod elementum nisi quis eleifend quam adipiscing
        vitae proin. Vestibulum sed arcu non odio euismod. Sem integer vitae justo eget magna fermentum. Aliquam
        nulla facilisi cras fermentum odio. Libero volutpat sed cras ornare arcu dui vivamus. Interdum velit
        euismod in pellentesque massa placerat. Ut porttitor leo a diam sollicitudin. Nisi vitae suscipit tellus
        mauris a diam maecenas. Ultricies tristique nulla aliquet enim tortor at auctor. Condimentum vitae
        sapien pellentesque habitant morbi tristique senectus. Enim nec dui nunc mattis. Libero volutpat sed
        cras ornare arcu dui vivamus arcu felis. Dolor magna eget est lorem ipsum dolor. Pulvinar mattis nunc
        sed blandit libero volutpat. A condimentum vitae sapien pellentesque habitant morbi tristique senectus.
        Non curabitur gravida arcu ac tortor dignissim convallis aenean. Convallis tellus id interdum velit.</p>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
<<<<<<< HEAD
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-text" id="exampleModalLabel">Add your dog!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-text">
                <form>
                    <div class="form-group">
                        <label for="dogName">Name</label>
                        <input type="text" class="form-control" id="input-dog-name" placeholder="Buddy">
                    </div>
                    <div class="form-group">
                        <label for="dogName">Breed</label>
                        <input type="text" class="form-control" id="input-dog-breed" placeholder="Labrador">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Size</label>
                        <select class="form-control" id="input-dog-size">
                            <option value="1">Small (1-10 lbs)</option>
                            <option value="2">Medium (11-30 lbs)</option>
                            <option value="3">Large (>=31 lbs)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogName">Picture</label>
                        <input type="text" class="form-control" id="input-dog-pic" placeholder="link to picture">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Personality</label>
                        <select class="form-control" id="input-dog-personality">
                            <option value="1">Calm</option>
                            <option value="2">Energetic</option>
                            <option value="3">Insane</option>
                            <option value="4">Weird</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Age</label>
                        <select class="form-control" id="input-dog-age">
                            <option value="1">0-3</option>
                            <option value="2">4-9</option>
                            <option value="3">>=10</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-Dog">Add Dog!</button>
            </div>
        </div>
=======
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your dog!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dogName">Name</label>
            <input type="text" class="form-control" id="input-dog-name" placeholder="Buddy">
          </div>
          <div class="form-group">
            <label for="dogName">Breed</label>
            <input type="text" class="form-control" id="input-dog-breed" placeholder="Labrador">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Size</label>
            <select class="form-control" id="input-dog-size">
              <option value="1">Small (1-34 lbs)</option>
              <option value="2">Medium (35-65 lbs)</option>
              <option value="3">Large (66+ lbs)</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dogName">Picture</label>
            <input type="text" class="form-control" id="input-dog-pic" placeholder="link to picture">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Personality</label>
            <select class="form-control" id="input-dog-personality">
              <option value="1">Calm</option>
              <option value="2">Timid</option>
              <option value="3">Energetic</option>
              <option value="4">Weird</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Age</label>
            <select class="form-control" id="input-dog-age">
              <option value="1">0-4</option>
              <option value="2">5-10</option>
              <option value="3">11+</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-Dog">Add Dog!</button>
      </div>
>>>>>>> 0a1432793c980c8fbdba9c44443250eab345a55a
    </div>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            loggedIn = false;
        }
    </script>