  <!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">DOGGIE DATE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">LOG IN</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <br>
  <br>
  <h3 class="margin">Welcome to Doggie Date!</h3>
  <h3>A place for dog people.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <div id="map" class="container-fluid text-center">
    <p>map</p>
  </div>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Making a world built for humans a bit more dog friendly.</h3><br>
  <div class="row">
    <div class="col-sm-4" id="btm-ind">
      <p>Find a dog park near you to take your dog to!</p>
      <img src="styles/images/dogpark.jpg" alt="Image">
    </div>
    <div class="col-sm-4" id="btm-ind"> 
      <p>Find other dog people near you!</p>
      <img src="styles/images/dogperson.jpg" alt="Image">
    </div>
    <div class="col-sm-4" id="btm-ind"> 
      <p>Coming Soon!</p>
      <p>Make a unique profile to add friends and communicate on site with people you want to meet up with!</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">

</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>
<script src="" id="map"></script>