<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DOGGIE DATE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">LOG IN</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Welcome to Doggie Date!</h3>
  <h3>A place for dog people.</h3>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

  <a href="/" onclick="signOut();">Sign out</a>

</div>
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Log in securely with Google!</h3>
  <p>Email and name will be used in creating a secure profile. </p>
</div>
<footer class="container-fluid bg-4 text-center">

</footer>

<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
    var loggedIn;
    loggedIn = true;
    console.log("loggedIn working")
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    loggedIn = false;
    console.log("loggedout working")
  }
</script>


<ul>
    {{#if loggedIn}}
      {{> loggedIn/loggedIn-block}}
    {{/if}}
</ul>